<article class="col-xl-3 col-lg-4 col-md-6 col-12 ">
        <div class="card mb-2 " >
        <div class="card-body">
            <img src="{{this.urlImg}}" alt="celular" class="card-img-top" >
            <h5>Marca: {{this.marca}}</h5>
            <p class="card-text">
                {{!-- <p>Descripcion</p> --}}
                <p>Celular {{this.marca}} {{this.modelo}}</p>
                <p>Precio: $ <span class="badge rounded-pill bg-info text-dark">{{this.precio}}</span></p>
                <div class="mb-2">
                    <a href="/celCrud/editar/{{this._id}}" class="btn btn-secondary w-100">Editar</a>
                </div>
                <div class="mb-2">
                    <a href="/celCrud/eliminar/{{this._id}}" class="btn btn-danger w-100">Eliminar</a>
                </div>
        </div>
    </div>
</article>