<article class="">
        <div class="card mb-2" style="width: 18rem">
        <!-- style="width: 18rem;" -->
        {{!-- <img src="..." class="card-img-top"  alt="img-mascota"> --}}
        <div class="card-body">
            <h5 class="card-title">{{this.nombre}}</h5>
            <p class="card-text">
                especie: {{this.tipo_animal}},
                edad: {{this.edad}},
                Condición medica: {{this.cond_medica_descripcion}},
                dueño: {{this.duenio_nombre}},
                localidad: {{this.localidad}},
                comentarios: {{this.comentarios}},
                email: {{this.mail}}
                
                </p>
            <button href="#" class="btn btn-primary w-100">Adoptar</button>
        </div>
    </div>
</article>